# Name-Sonawane Aishwarya M(Task 4)
Email Detection With Machine Learning
Oasis Infobyte (Data Science)

In [ ]:
#import library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("D:/Oasis internship/spam.csv",encoding="ISO-8859-1")
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [3]:
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [4]:
df.sample(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
598,ham,Will do. Was exhausted on train this morning. ...,NaN,NaN,NaN
5480,ham,Have you seen who's back at Holby?!,NaN,NaN,NaN
124,ham,ÌÏ predict wat time Ì_'ll finish buying?,NaN,NaN,NaN
2536,ham,You do what all you like,NaN,NaN,NaN
604,ham,Meet after lunch la...,NaN,NaN,NaN
4186,ham,Dear got bus directly to calicut,NaN,NaN,NaN
2156,ham,Hey cutie. How goes it? Here in WALES its kind...,NaN,NaN,NaN
3198,ham,No de.am seeing in online shop so that i asked.,NaN,NaN,NaN
5298,ham,I.ll hand her my phone to chat wit u,NaN,NaN,NaN
1178,ham,"I'm outside islands, head towards hard rock an...",NaN,NaN,NaN

In [5]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [6]:
df1=df.drop(["Unnamed: 2","Unnamed: 4"],axis=1)
df1.head()

     v1                                                 v2 Unnamed: 3
0   ham  Go until jurong point, crazy.. Available only ...        NaN
1   ham                      Ok lar... Joking wif u oni...        NaN
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3   ham  U dun say so early hor... U c already then say...        NaN
4   ham  Nah I don't think he goes to usf, he lives aro...        NaN

In [7]:
df1.rename(columns={"v1" :"spam or hum","v2":"mailmessage"},inplace=True)
df1.head()

  spam or hum                                        mailmessage Unnamed: 3
0         ham  Go until jurong point, crazy.. Available only ...        NaN
1         ham                      Ok lar... Joking wif u oni...        NaN
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3         ham  U dun say so early hor... U c already then say...        NaN
4         ham  Nah I don't think he goes to usf, he lives aro...        NaN

In [8]:
df1.shape

(5572, 3)

In [9]:
df1.duplicated().sum()

403

In [10]:
df1=df1.drop_duplicates(keep='first')

In [11]:
df1.duplicated().sum()

0

In [12]:
df.isnull()

         v1     v2  Unnamed: 2  Unnamed: 3  Unnamed: 4
0     False  False        True        True        True
1     False  False        True        True        True
2     False  False        True        True        True
3     False  False        True        True        True
4     False  False        True        True        True
...     ...    ...         ...         ...         ...
5567  False  False        True        True        True
5568  False  False        True        True        True
5569  False  False        True        True        True
5570  False  False        True        True        True
5571  False  False        True        True        True

[5572 rows x 5 columns]

In [15]:
df.isna().mean()

v1            0.000000
v2            0.000000
Unnamed: 2    0.991027
Unnamed: 3    0.997846
Unnamed: 4    0.998923
dtype: float64

In [19]:
import pandas as pd
if 'spam/ham' in df.columns:
    # Set all rows where 'spam/ham' is 'spam' to 0
    df.loc[df['spam/ham'] == 'spam', 'spam/ham'] = 0
    df.loc[df['spam/ham'] == 'ham', 'spam/ham'] = 1
else:
    print("The 'spam/ham' column does not exist in the DataFrame.")

The 'spam/ham' column does not exist in the DataFrame.

# Train models

In [25]:
x=df.v1
x

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: v1, Length: 5572, dtype: object

In [30]:
y=df['v2']
y

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [31]:
print(x.shape)

(5572,)

In [34]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=3)

In [35]:
print(xtrain.shape)

(4457,)

In [36]:
print(ytest.shape)

(1115,)

In [37]:
xtrain,xtest

(3075    ham
 1787    ham
 1614    ham
 4304    ham
 3266    ham
        ...
 789     ham
 968     ham
 1667    ham
 3321    ham
 1688    ham
 Name: v1, Length: 4457, dtype: object,
 2632     ham
 454     spam
 983      ham
 1282     ham
 4610     ham
         ...
 4827     ham
 5291     ham
 3325     ham
 3561     ham
 1136    spam
 Name: v1, Length: 1115, dtype: object)

In [38]:
ytrain,ytest

(3075    Mum, hope you are having a great day. Hoping t...
 1787                           Yes:)sura in sun tv.:)lol.
 1614    Me sef dey laugh you. Meanwhile how's my darli...
 4304                Yo come over carlos will be here soon
 3266                    Ok then i come n pick u at engin?
                               ...
 789                          Gud mrng dear hav a nice day
 968             Are you willing to go for aptitude class.
 1667    So now my dad is gonna call after he gets out ...
 3321    Ok darlin i supose it was ok i just worry too ...
 1688                     Nan sonathaya soladha. Why boss?
 Name: v2, Length: 4457, dtype: object,
 2632                       I WILL CAL YOU SIR. In meeting
 454     Loan for any purpose å£500 - å£75,000. Homeown...
 983     LOOK AT THE FUCKIN TIME. WHAT THE FUCK YOU THI...
 1282    Ever green quote ever told by Jerry in cartoon...
 4610                                  Wat time Ì_ finish?
                               ...
 4827    Lol no. Just trying to make your day a little ...
 5291      Xy trying smth now. U eat already? We havent...
 3325    Huh so fast... Dat means u havent finished pai...
 3561    Still chance there. If you search hard you wil...
 1136    Dont forget you can place as many FREE Request...
 Name: v2, Length: 1115, dtype: object)

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
feat_vect = TfidfVectorizer(stop_words='english', lowercase=True)

In [42]:
ytrain=ytrain.astype('str')
ytest=ytest.astype('str')

In [44]:
xtrain_vec = feat_vect.fit_transform(xtrain)

In [45]:
xtest_vec=feat_vect.transform(xtest)
print(xtrain)

3075    ham
1787    ham
1614    ham
4304    ham
3266    ham
       ...
789     ham
968     ham
1667    ham
3321    ham
1688    ham
Name: v1, Length: 4457, dtype: object

In [47]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [49]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(xtrain_vec, ytrain)
accuracy = model.score(xtest_vec, ytest)
print("Accuracy on the test data:", accuracy)

Accuracy on the test data: 0.0053811659192825115